:root {
  --green: #bada55;
  --black: #272727;
}

.App {
  text-align: center;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

.App-header {
  background-color: var(--black);
  height: 30px;
  justify-self: stretch;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Message {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 700px;
  height: 130px;
  background: var(--green);
}

.Board {
  background: var(--black);;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

.Cell {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

.Marker-X {
  background: red;
}

.Marker-O {
  background: blue;
}
