:root {
  --black: #272727;
  --blue: #558ada;
  --green: #bada55;
  --red: #da6955;
  --white: #fdfdfd;
}

html {
  background: url('./tic-tac-toe.png');
  background-repeat: repeat;
}

h2 {
  font-family: 'Oswald', sans-serif;
  line-height: 0.95em;
  text-transform: uppercase;
}

.Display {
  display: grid;
  font-size: 1.3em;
  letter-spacing: 4.5px;
}

.Display > h2 {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.title {
  letter-spacing: 4px;
}

.score {
  border: var(--black) 1px solid;
  border-radius: 3px;
  box-shadow: 0 0.4em 1.1em 0 rgba(58, 58, 58, 0.5);
  color: var(--white);
  display: inline;
  font-family: 'Finger Paint', cursive;
  font-size: 1.6em;
  padding: 5px 20px;
}

.P1 {
  background: var(--red);
}

.P2 {
  background: var(--blue);
}

.App {
  background: linear-gradient(to right, #beb1b1, #ccc, #bcc4cf);
  display: grid;
  gap: 1.3em;
  height: 100vh;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.Message {
  background: linear-gradient(72deg, var(--red), #ddd, var(--blue));
  border-radius: 15px;
  box-shadow: 0 1em 1.3em -0.3em rgba(75, 75, 75, 0.5);
  color: var(--black);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 0.5em;
  width: 80%;
}

.Board {
  background: var(--black);
  border: 1px solid rgba(63, 63, 63, 0.1);
  border-radius: 5px;
  box-shadow: 0 1em 1.3em -0.3em rgba(0,0,0,0.4);
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 450px;
  margin: 0 auto;
  width: 450px;
}

@media (max-width: 650px) {
  .Board {
    height: 300px;
    margin: 0 auto;
    transform: scale(0.9);
    width: 300px;
  }

  .Message {
    height: 110px;
  }
}

.Cell {
  align-items: stretch;
  display: grid;
  font-family: 'Finger Paint', cursive;
  font-size: 6em;
  justify-items: stretch;
}

.Cell>button:hover {
  background: #ccc;
}

.button {
  animation: moveUp 300ms 750ms ease-out forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes moveUp {
  0%{ transform: translateY(100px); opacity: 0;}
  90%{ transform: translateY(-15px);}
  100%{transform: translateY(0px); opacity: 1;}
}

.Marker-X {
  animation: slideFromLeft 300ms ease-out forwards;
  background: var(--red);
  transform-origin: left;
}

.Marker-O {
  animation: slideFromRight 300ms ease-out forwards;
  background: var(--blue);
  transform-origin: right;
}

.button {
  align-self: flex-start;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 0 0.3em 1em rgba(0,0,0,0.6);
  display: inline;
  font-size: 1.2em;
  padding: 5px 1fr;
}

@keyframes slideFromLeft {
  0%{
    transform: rotateY(90deg);
    opacity: 0;
  }
  80%{
    transform: rotateY(-20deg);
  }
  100%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0%{
    transform: rotateY(90deg);
    opacity: 0;
  }
  80%{
    transform: rotateY(-20deg);
  }
  100%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}
